<div class="container-fluid">
    <div class="row">
         <h3 class="text-center">Our Partners</h3> 
        </div>
    <div class="row">
      <h4 class="text-center">Major Team Partners</h4> 
        </div>


    <div class="row logo">
        <div class="col-2 offset-3"><img class="rounded-circle"  src="assets/khelo.jpg" width="100px" alt=""></div>
        <div class="col-2"><img class="rounded-circle"  src="assets/fit.png"  width="100px" alt=""></div>
        <div class="col-2"><img class="rounded-circle"  src="assets/shiv.jpg"  width="100px" alt=""></div>
        <div class="col-2"><img class="rounded-circle"  src="assets/khel.png"  width="100px" alt=""></div>
    </div>



    <div class="row address">
        <div class="col-3 offset-2">
            <img src="assets/HK.png" width="150px" alt="">
        </div>
        <div class="col-2">
            <i class="fa-solid fa-location-dot mt-3"></i>
            <p>NSTI(W) Allahabad,New Katra Allhabad 211006</p>
        </div>
        <div class="col-3">
            <i class="fa-regular fa-address-card mt-3"></i>
            <p>Phone : +91 9005099135</p>
        </div>
    </div>



    <div class="row bottom">
        <div class="col-2 offset-1">
         
        <h4>Home</h4>
        <h4>News</h4>
        <h4>Photos</h4>

        <h4>Videos</h4>
          
        </div>
      
        <div class="col-2 offset-1">
             <h4>Newsletter</h4>

             <h4>Schedule</h4>

             <h4>National</h4>

        </div>
        <div class="col-2 offset-1">
             <h4>IMPORTANT INFORMATION</h4>

             <h4>Contact</h4>

        </div>
        <div class="col-2 offset-1">
             <h4>Terms & Condition</h4>

             <h4>Privacy Policy</h4>

        </div>
    </div>
</div>