<div class="container-fluid">
    <div class="col container-fluid bg">
        <h1 class="text-center">
            <u>
                Contact
            </u>
        </h1>
    </div>


    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.0003109081686!2d81.85486387543375!3d25.471665077535267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399aca9ace50a863%3A0xffd11ac6a226ed88!2sNational%20Skill%20Training%20Institute%20(%20Women)!5e0!3m2!1sen!2sin!4v1708189250920!5m2!1sen!2sin"
        width="1450" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="container d-flex justify-content-end ">
        <div class="row box-1">
            <div class="col">
          
                <div class="col">
                <h3>HOCKEY INDIA</h3>
            </div>
                <div class="col">
                    <p> <i class="fa-solid fa-location-dot mt-3"></i>
                        NSTI(W) Allahabad,New Katra Allhabad 211006</p>
                </div>

                <div class="col-3">
                    <i class="fa-regular fa-address-card mt-3"></i>
                    <p>Phone : +91 9005099135</p>
                </div>
            </div>
        </div>


        <div class="row box-2">
            <div class="col">GET IN TOUCH</div>

            <div class="row">
                <div class="col-2">
                    <p> Name</p>
                    <input type="text" name="name" placeholder="Enter Your Name">
                </div>
                <div class="col-2">
                    <p>Age</p>
                    <input type="text" name="age" placeholder="Enter Your Age">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p> Address</p>
                    <input type="text" name="address" placeholder="Enter Your Address">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p> Email</p>
                    <input type="text" name="email" placeholder="Enter Your Email">
                </div>
                <div class="col-1">
                    <p>Phone</p>
                    <input type="text" name="phone" placeholder="Enter Your Contact No.">
                </div>
            </div>
            <button class="btn btn-primary">Send Us Message</button>
        </div>
    </div>
</div>