
<ul class="nav justify-content-center">
    <li class="nav-item ">
    <img src="https://www.freeiconspng.com/thumbs/ashoka-chakra-png/white-ashoka-chakra-emblem-png-clipart-26.png" width="50px" alt="Logo" class="img">
 </li>
  
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" >About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/media" routerLinkActive="active" >Media</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/information" routerLinkActive="active" >Important Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active" >Men Team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a>
    </li>
</ul>
<router-outlet></router-outlet>